.navbar {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  background-color: white;
  align-items: center;
}
.logo {
  width: 150px;
  height: auto;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  color: #495E57;
  font-weight: bold;
}